{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="row marketing">
    <div class="col-md-12">
    	<h4>Submit an Article</h4>
    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		<div class="row">
    			<div class="col-md-6">
    				{% bootstrap_field form.title %}
    			</div>
    			<div class="col-md-6">
    				{% bootstrap_field form.subtitle %}
    			</div>
    			<div class="col-md-12">
    				{% bootstrap_field form.abstract %}
    			</div>
    			<div class="col-md-6">
    				{% bootstrap_field form.license %}
    			</div>
    			<div class="col-md-6">
    				{% bootstrap_field form.manuscript_file %}
    			</div>
    			<div class="col-md-12">
    				<button type="submit" class="btn btn-success">Save</button>
    			</div>
    		</div>
    	</form>
    </div>
</div>
{% endblock %}
